<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AmazonDeliveryPlanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <AmazonDeliveryPlanner.Properties.Settings>
            <setting name="ApiGetEndPoint" serializeAs="String">
                <value>https://srv.dlg1.app/api/auth2/external/drivers</value>
            </setting>
            <setting name="ApiPostEndPoint" serializeAs="String">
                <value>https://qa-srv.dlg1.app/api/auth2/external/save</value>
            </setting>
        </AmazonDeliveryPlanner.Properties.Settings>
    </userSettings>
</configuration>